# dir that don't want to be push
venv/
Nanshan_tomb_image_segmentation/Project_Nanshang/storehouse/
Nanshan_tomb_image_segmentation/Project_Nanshang/resources
Nanshan_tomb_image_segmentation/Project_Nanshang/output


# ignore .idea/
.idea/