# dir that don't want to be push
venv/
shpPredictor/Predicting_mask_for_tifimage(on_local)/storehouse/
shpPredictor/Predicting_mask_for_tifimage(on_local)/resources
shpPredictor/Predicting_mask_for_tifimage(on_local)/output

# ignore .idea/
.idea/